@import '@/assert/css/common.scss';

.deal-wrap {
  width: 100%;
  padding: 10px 15px;
  .van-cell__title {
    color: #555;
    font-weight: bold;
  }

  .edit {
    top: 5rpx;
  }

  .van-cell__value {
    overflow: visible;
  }

  .van-uploader__upload {
    display: none;
  }

  .van-uploader__preview {
    margin: 0 18px 0px 0;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  .placeholder {
    color: #c8c9cc;
  }
  .img {
    margin: 0 18px 0px 0;
    border-radius: 8px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  .popup {
    height: 250px;
  }
  .preview {
    width: 320px;
    height: 250px;
  }
  .link {
    color: $bg;
  }
  .btn-group {
    padding: 20px 16px;
    .van-button--large {
      width: 45%;
    }
    .w100 {
      width: 100%;
    }
  }
}
