@import '@/assert/css/common.scss';

.device-wrap {
  width: 100%;
  padding: 10px;
  .van-cell__title {
    color: #555;
    font-size: 15px;
    font-weight: bold;
  }
  .btn-group {
    padding: 20px 16px;
  }
}
