@import '@/assert/css/common.scss';

.device-wrap {
  width: 100%;
  padding: 10px 15px;
  .van-cell__title {
    color: #555;
    font-weight: bold;
  }
  .btn-group {
    padding: 20px 16px;
    .van-button--large {
      width: 45%;
    }
  }
}
