$bg: #1989fa;
$bc: #dfe4eb;

.common-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0 1rpx 6rpx rgba(0, 0, 0, 0.1);

  .van-dropdown-menu {
    height: 40px;
  }
  .van-ellipsis {
    color: #555;
    font-weight: bold;
  }
}

.common-content {
  margin-top: 95px;
}

.login {
  padding: 45% 10% 0 10%;
  p {
    color: #888;
  }
}
