@import '@/assert/css/common.scss';

.information-wrap {
  width: 100%;

  .popup {
    padding: 20px 20px 30px 20px;
    .radio-group {
      display: flex;
      padding: 0 5%;
      .radio {
        width: 40%;
      }
    }
  }
}
