@import '@/assert/css/common.scss';

.question-wrap {
  width: 100%;
  padding: 10px;
  .link {
    color: $bg;
  }
  .van-cell__title {
    color: #555;
    font-size: 15px;
    font-weight: bold;
  }
  .record:last-child {
    margin: 0;
  }
  .uploader-hidden {
    .van-uploader__upload {
      display: none;
    }
  }
  .van-uploader__preview {
    margin: 0 18px 0px 0;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  .img {
    margin: 8px 18px 0px 0;
    border-radius: 8px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  .radio-group {
    display: flex;
    .van-radio__label {
      margin-left: 5px;
    }
  }
  .placeholder {
    color: #c8c9cc;
    line-height: 22px;
  }
  .van-cell__value {
    overflow: visible;
  }
  .btn-group {
    padding: 20px 16px;
  }
}
