@import '@/assert/css/common.scss';

.deal-wrap {
  width: 100%;
  padding: 10px 5px;
  .van-cell__title {
    color: #555;
    font-size: 15px;
    font-weight: bold;
  }
  .edit {
    top: 5rpx;
  }
  .link {
    color: $bg;
  }
  .title {
    color: #555;
  }
  .yellow {
    color: #e6a23c;
  }
  .red {
    color: #ef2323;
  }
  .green {
    color: #39b54a;
  }

  .question:last-child {
    margin-bottom: 0;
  }
  .img {
    margin: 0 18px 0px 0;
    border-radius: 8px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  .preview-popup {
    height: 250px;
  }
  .preview {
    width: 320px;
    height: 250px;
  }
  .btn-group {
    padding: 20px 16px;
  }
}
