@import '@/assert/css/common.scss';

.add-wrap {
  width: 100%;
  padding: 10px;
  .cell-group {
    .van-cell__title {
      color: #555;
      font-size: 15px;
      font-weight: bold;
    }
  }

  .required::before {
    position: absolute;
    content: '*';
    left: 8px;
    left: var(--padding-xs, 8px);
    font-size: 14px;
    font-size: var(--cell-font-size, 14px);
    font-weight: normal;
    color: #ee0a24;
    color: var(--cell-required-color, #ee0a24);
  }

  .radio-group {
    display: flex;
    .van-radio__label {
      margin-left: 5px;
    }
  }

  .van-cell__value {
    overflow: visible;
  }

  .van-uploader__preview {
    margin: 0 18px 15px 0;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  .placeholder {
    color: #c8c9cc;
    line-height: 22px;
  }
  .btn-group {
    padding: 20px 16px;
    .van-button--large {
      width: 45%;
    }
    .w100 {
      width: 100%;
    }
  }
}
